<div class="popover example custom-popover rounded-0 border-top-0" data-autohide="false">
    <div class="arrow-up arrow-danger"></div>
    <div class="w-100 popover-capper bg-danger"></div>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <div class="popover-body bg-white">
        {{ message }}        
    </div>
</div>