<div class="popover alert-dismissible custom-popover rounded-0 border-top-0" data-bs-hide="false">
    <div class="arrow-up arrow-info"></div>
    <div class="w-100 popover-capper bg-info"></div>
    <div class="popover-header bg-white text-dark">
        <strong class="mr-auto">Alert!</strong>
        <button tabindex=0 data-bs-trigger="focus" type="button" class="btn-close alert-dismissible" data-bs-dismiss="popover" aria-label="Close">
            <span>
                <i class="fas fa-times"></i>
        </span>
        </button>

    </div>
    <div class="popover-body bg-white">
        {{ message }}        
    </div>
</div>