{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<!--overlay-->
<div class="overlay"></div>
<!--./end-overlay-->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 pt-5 my-0 mx-auto">
            <!-- breadcrumb-->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb display-font heading-xs">
                    <li class="breadcrumb-item"><a href="{% url 'shop' %}">Shop</a></li>
                    <li aria-current="page" class="breadcrumb-item active">Your Cart</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 text-start px-3 py-4">
            <h2 class="display-font ms-lg-4 ps-lg-2">YOUR CART</h2>
        </div>
    </div>
</div>
<div class="container-fluid px-3">
    <div class="row justify-content-center">
        <div id="cart" class="col-12 col-lg-8 px-2 px-lg-5">
            {% if cart_items %}
            <div class="table table-responsive">
                <table class="table table-sm table-borderless body-font">
                    <thead class="text-dark">
                        <tr>
                            <th scope="col">ITEM</th>
                            <th scope="col">TITLE</th>
                            <th scope="col">Price</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col">Qty</th>
                        </tr>
                    </thead>
                    {% for item in cart_items %}
                    <tr>
                        <td class="p-3 w-25">
                            <img class="img-fluid" src="{{ item.product.image.url }}" width="80" height="auto">
                        </td>
                        <td class="py-3">
                            <p class="my-0">
                                <strong>{{ item.product.title }}</strong></p>
                            <p class="my-0 body-small text-muted">SKU:
                                {{ item.product.sku|upper }}
                            </p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">
                                {% if item.product.label != 'NP' %}
                                <strong style="text-decoration: line-through;" class="text-muted fw-normal">${{ item.product.price }}</strong></p>
                            {% endif %}
                        </td>
                        <td class="py-3 w-25">
                            <p class="my-0">
                                <strong>{{ item.product.display_final_price }}</strong></p>
                        </td>
                        <td class="py-3 d-block d-lg-flex">
                            <form class="form update-form" method="POST" action="">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group text-center">
                                        <button class="decrement-qty btn btn-sm btn-black rounded-0" data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                <i class="fas fa-minus fa-sm"></i>
                                        </button>
                                        <input class="form-control-sm w-10 qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-sm btn-black rounded-0" data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                <i class="fas fa-plus fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                            <div class="d-flex justify-content-center py-1">
                                <a class="update-link text-dark">
                                    <i class="bi mx-2 fas fa-sync fa-sm"></i>
                                </a>
                                <a class="text-dark float-right" id="remove_{{ item.item_id }}">
                                    <i class="fas fa-trash fa-sm"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="py-4 my-3 text-start px-3 body-font">
                            <h6 class="my-2 fw-main">Total: ${{ total|floatformat:2 }}</h6>
                            <h6 class="my-2 fw-normal">Promotion: ${{ promotion|floatformat:2 }}
                            </h6>
                            <h4 class="my-2" id="cart-total body-sm">Grand Total: ${{ grand_total|floatformat:2 }}
                            </h4>
                            {% if item.product.pricce >= 50 %}
                            <p class="mb-1 text-danger">
                                You could get 25% off <strong>your entire purchase</strong> by spending just <strong>${{ promotion_delta }}</strong> more!
                            </p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="border-0">
                        <td colspan="5" class="text-center my-0 mx-auto pt-4">
                            <a href="{% url 'shop' %}" class="btn btn-dark rounded-0 btn-lg">
                                <i class="fas fa-chevron-left fa-xs"></i>
                                <span class="body-font body-sm">Shop</span>
                            </a>
                            <a href="" class="btn btn-dark border-0 rounded-0 btn-lg">
                                <span class="body-sm body-light">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-chevron-right fa-xs">
                                    </i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="lead">Your bag is empty</p>
            {% endif %}
        </div>
        <!--Section: Block Content-->
        {% block page_footer %}
        {% endblock %}
        {% endblock %}
        {% block postloadjs %}
        {{ block.super }}
        <script type="text/javascript">
        $('.btt-link').click(function(e) {
            window.scrollTo(0, 0)
        })
        </script>
        {% include 'shop/includes/qty-script.html' %}
        <script type="text/javascript">
        // Update quantity on click
        $('.update-link').click(function(e) {
            var form = $(this).prev('.update-form');
            form.submit();
        })

        // Remove item and reload on click
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var url = `/cart/remove/${itemId}/`;

            $.post(url, data)
                .done(function() {
                    location.reload();
                });
        })
        </script>
        {% endblock %}