core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
*.pyc
__pycache__
pyvenv.cfg
.Python
.gitpod.dockerfile
.gitpod.yml
env_hue/
.DS_Store
.vscode/
.vscode/settings.json
venv/
db.sqlite3
github/