core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
*.sqlite3
*.pyc
__pycache__
pyvenv.cfg
.Python
.gitpod.dockerfile
.gitpod.yml
env_hue/
db.json
.DS_Store
db.json
.vscode/
.vscode/settings.json
