aiohttp==3.8.4
aiosignal==1.3.1
asgiref==3.3.4
async-timeout==4.0.2
attrs==23.1.0
autopep8==1.5.7
boto3==1.17.91
botocore==1.20.91
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
charset-normalizer==3.1.0
crispy-bootstrap5==0.4
cryptography==3.4.7
defusedxml==0.7.1
dj-database-url==0.5.0
Django==3.2.2
django-allauth==0.41.0
django-countries==7.2.1
django-crispy-forms==1.12.0
django-environ==0.4.5
django-heroku==0.0.0
django-model-utils==4.1.1
django-storages==1.11.1
django-tables2==2.3.4
exceptiongroup==1.1.1
frozenlist==1.3.3
greenlet==2.0.2
gunicorn==20.1.0
heroku
idna==2.10
iniconfig==2.0.0
ipaddress==1.0.16
jmespath==0.10.0
mindsdb-sdk==1.0.2
mindsdb-sql==0.5.1
multidict==6.0.4
numpy==1.24.2
oauthlib==3.1.0
openai==0.27.4
packaging==23.1
pandas
Pillow==8.2.0
pluggy==1.0.0
psycopg2-binary==2.8.6
pycodestyle==2.7.0
pycparser==2.20
pygeoip==0.3.2
PyJWT==2.1.0
python-dateutil<3.0.0
python3-openid==3.2.0
pytz
requests==2.25.1
requests-oauthlib==1.3.0
s3transfer==0.4.2
six==1.16.0
sly==0.5
SQLAlchemy==1.4.47
sqlparse==0.4.1
stripe==2.58.0
toml==0.10.2
tomli==2.0.1
tqdm==4.65.0
urllib3==1.26.4
whitenoise==5.2.0
mindsdb_sdk
