aiohttp
aiosignal
asgiref
async-timeout
attrs
autopep8
boto3
botocore
certifi
cffi
chardet
charset-normalizer
crispy-bootstrap5
cryptography
defusedxml
dj-database-url
Django
django-allauth
django-countries
django-crispy-forms
django-environ
django-heroku
django-model-utils
django-storages
django-tables2
exceptiongroup
frozenlist
greenlet
gunicorn
heroku==8.7.1
idna
iniconfig
ipaddress
jmespath
mindsdb-sdk
mindsdb-sql
multidict
numpy
oauthlib
openai
packaging
pandas
Pillow
pluggy
psycopg2-binary
pycodestyle
pycparser
pygeoip
PyJWT
python-dateutil
python3-openid
pytz
requests
requests-oauthlib
s3transfer
six
sly
SQLAlchemy
sqlparse
stripe
toml
tomli
tqdm
urllib3
whitenoise
mindsdb_sdk