{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

<div class="container">
    <div class="row">
            {% for artwork in artworks %}
            <div class="col-xs-8 col-sm-4">
                 <div class="card h-100">
                    {% if artwork.image %}
                    <img src="{{ artwork.image.url }}" class="card-img-top" alt="{{ artwork.title }}">
                    {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% block content %}
{% endblock %}