{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<!-- User Profile -->
<section class="gradient-custom-2 user-profile" id="userProfile">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-3 pt-4" id="sidebar">
                <div class="avatar mt-3">
                    <a href="#editAvatar" data-bs-toggle="modal" data-bs-target="#editAvatar">
                        <img src="{{ user.profile.avatar.url }}" alt="{{ user.profile }}"
                            class="img-fluid img-thumbnail m-3" style="width: 150px; height: 150px;">
                    </a>
                    </div>
                    <div class="m-3">
                        <h5 class="my-1">{{ user.username }}</h5>
                        <p class="body-font">{{ user.profile.default_town_or_city }} ,
                            {{ user.profile.default_country }}</p>
            {% if request.user == user %}
                    <p>
                        <a href="#!" class="text-decoration-none link-font" type="button" data-bs-toggle="modal"
                            data-bs-target="#editProfile">
                            Edit Profile</a>
                    </p>
                    <p>
                        <a href="#!" class="text-decoration-none link-font" type="button" data-bs-toggle="modal"
                            data-bs-target="#orderHistory">
                            Order History</a>
                    </p>
                {% endif %}
                </div>
                </div>

        <div class="col-12 col-sm-9 g-2 my-5 p-sm-3 p-md-4 p-md-5">
            <div class="d-flex justify-content-between align-items-center mb-4 ms-3">
                <h3 class="display-font fw-normal mb-0">
                    <strong class="username">{{ user.username }}'s</strong> Collection</h3>
                <!-- <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p> -->
            </div>
            <!-- render artwork here -->
            <div class="row g-2">
                {% for artwork in artworks %}
                <div class="col-12 col-sm-4 col-md-3 my-0 mx-auto p-2 px-lg-4">
                    <div class="card border-0 my-3">
                        {% if artwork.image %}
                        <a class="card-header" href="{% url 'artwork_detail' artwork.id %}">
                            <img class="img-fluid" src="{{ artwork.image.url }}" alt="Card image cap">
                        </a>
                        {% endif %}
                        <div class="card-footer bg-light d-flex justify-content-center">
                            <div class="col-4 text-start">
                            <a href="{% url 'edit_artwork' artwork.id %}" class="text-small text-success">Edit</a>
                            </div>
                            <div class="col-4 text-center">
                                <a href="{% url 'delete_artwork' artwork.id %}" class="text-small text-danger">Delete</a>
                        </div>
                        <div class="col-4 text-end">
                            <a href="{% url 'add_artwork_to_store' artwork.id %}" class="text-small text-info">SELL</a>
                    </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
</section>


<!-- Modal for editing profile photo -->
<div class="modal fade" id="editAvatar" tabindex="-1" aria-labelledby="editAvatarLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editAvatarLabel">Edit Profile Photo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'profile' %}" method="POST" class="mt-3 mx-0 px-0" id="update-avatar-form"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.avatar.label_tag }}
                        {{ form.avatar }}
                    </div>
                    <button class="btn btn-none rounded-0 text-uppercase float-right">Update
                        Profile Photo</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editProfile" tabindex="-1" aria-labelledby="editProfileLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editProfileLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'profile' %}" method="POST" class="mt-3 mx-0 px-0" id="update-profile-form"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-none rounded-0 text-uppercase float-right">Update
                        Information</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="orderHistory" tabindex="-1" aria-labelledby="orderHistoryLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="orderHistoryLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                        {{ order.order_number|truncatechars:6 }}
                                    </a>
                                </td>
                                <td>{{ order.date }}</td>
                                <div class="col-12 text-center">
                                    <td>
                                        {% for item in order.orderitems.all %}

                                        {{ item.product.title }}

                                        {% endfor %}
                                    </td>
                                    <td>${{ order.grand_total }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profiles/js/profile.js' %}"></script>
{% endblock %}