{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profile/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid pt-5">
    <div class="row">
        <div class="col-md-4 mb-3 py-2">
            <div class="card border-0 shadow-lg" id="profile-card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center justify-content-between text-center">
                            <h4 class="card-title text-dark"></h4>
                            <div class="user-name mt-3">
                                <h4 class="display-font heading-lg">alissa</h4>
                                <img src="/media/avatars/photopaint.jpg" alt="" class="img-fluid rounded-circle my-3"
                                    style="width: 150px; height: 150px;">
                            </div>
                            <!--./end-user-name-->
                        </div>
                    <!--./end-flex-column-->
                </div>
                <!--./end-card-body-->
            </div>
            <!--./end-card-->
        </div>
        <!--./end-col-md-4-->
        <div class="col-md-8 mb-3 py-2">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row card-row">
                        <div class="card-title display-font heading-lg">
                            {{ user.profile }}'s Profile
                        </div>
                        <!--./end-card-title-->
                        <div class="d-flex flex-column align-items-center justify-content-between text-center">
                            <div class="accordion accordion-flush my-4" id="user-settings">
                                <div class="accordion-item">
                                    <div class="accordion-header" id="headingOne" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">
                                        <h3 class="display-font">
                                            Your Settings
                                        </h3>
                                    </div>
                                    <div id="collapseOne" class="accordion-collapse collapse"
                                        aria-labelledby="headingOne" data-bs-parent="#user-settings">
                                        <div class="accordion-body">
                                            <form action="{% url 'profile' %}" method="POST" class="mt-3"
                                                id="update-profile-form" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                {{ form|crispy }}
                                                <button class="btn btn-none rounded-0 text-uppercase float-right">Update
                                                    Information</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--./end-accordion-item-->
                                <div class="accordion-item body-font">
                                    <div class="col-12">
                                        <div class="accordion-header" id="headingTwo" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true"
                                            aria-controls="collapseTwo">
                                            <h3 class="display-font">Order History</h3>
                                        </div>
                                        <div id="collapseTwo" class="accordion-collapse collapse"
                                            aria-labelledby="headingOne" data-bs-parent="#order-history">
                                            <div class="accordion-body">
                                                <div class="order-history table-responsive">
                                                    <table class="table table-sm table-borderless">
                                                        <thead>
                                                            <tr>
                                                                <th>Order Number</th>
                                                                <th>Date</th>
                                                                <th>Items</th>
                                                                <th>Order Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for order in orders %}
                                                            <tr>
                                                                <td>
                                                                    <a href="{% url 'order_history' order.order_number %}"
                                                                        title="{{ order.order_number }}">
                                                                        {{ order.order_number|truncatechars:6 }}
                                                                    </a>
                                                                </td>
                                                                <td>{{ order.date }}</td>
                                                                <div class="col-12">
                                                                    <td>
                                                                        <ul class="list-unstyled">
                                                                            {% for items in order.items.all %}
                                                                            <li class="small">
                                                                                {% if item.product_dimension %}
                                                                                File Size: {{ item.product_dimension }}
                                                                                 {{ item.product_dimension|upper }}
                                                                                {% endif %}
                                                                                {{ item.product.title }} x {{
                                                                                item.quantity }}
                                                                            </li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    </td>
                                                                    <td>${{ order.grand_total }}</td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!--./end-accordion-item-->
                                        </div>
                                        <!--./end-accordion-->
                                    </div>
                                    <!--./end-d-flex-->
                                </div>
                                <!--./end-row-card-row-->
                            </div>
                            <!--./end-card-body-->
                        </div>
                        <!--./end-card-->
                    </div>
                    <!--./end-col-md-8-->
                </div>
                <!--./end-row-->
            </div>
        </div>
        <!--./end-card-columns-->
    </div>
    <!--./end-row-->
</div>
<!--./end-container-->
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profiles/js/profile.js' %}"></script>
{% endblock %}