{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profile/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container pt-5">
    <div class="row">
        <div class="col-md-4 mb-3 py-2">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <h4 class="card-title text-dark">{{ username }}</h4>
                        <img alt='' id="profile"
                            src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80"
                            class="img-fluid rounded-circle" width="150">
                        <div class="user-name mt-3">
                            <h4 class="display-font">Your Stupid Name</h4>
                        </div>
                        <!--./end-user-name-->
                    </div>
                    <!--./end-flex-column-->
                </div>
                <!--./end-card-body-->
            </div>
            <!--./end-card-->
            <div class="card mt-3">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        </li>
                    </ul>
                    <!--./end-list-group-->
                </div>
                <!--./end-card-body-->
            </div>
            <!--./end-card-->
        </div>
        <!--./end-col-md-4-->
        <div class="col-md-8 mb-3 py-2">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row card-row">
                        <div class="card-title display-font heading-lg">
                            {{ user.profile }}'s Profile
                        </div>
                        <!--./end-card-title-->
                        <div class="col-sm-12">
                            <div class="accordion accordion-flush" id="user-settings">
                                <div class="accordion-item">
                                    <h2 class="accordion-header bg-light" id="headingOne">
                                        <button class="accordion-button btn-none" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            Your Settings
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse"
                                        aria-labelledby="headingOne" data-bs-parent="#user-settings">
                                        <div class="accordion-body">
                                            <form action="{% url 'profile' %}" method="POST" class="mt-3"
                                                id="update-profile-form">
                                                {% csrf_token %}
                                                {{ form|crispy }}
                                                <button class="btn btn-none rounded-0 text-uppercase float-right">Update Information</button>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                                <!--./end-accordion-item-->
                                <div class="accordion-item">
                                    <h2 class="accordion-header bg-light" id="orderHistory">
                                        <button class="accordion-button btn-none" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true"
                                            aria-controls="collapseTwo">
                                            Your Orders
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse"
                                        aria-labelledby="orderHistory" data-bs-parent="#order-history">
                                        <div class="accordion-body">
                                            <div class="row">
                                                {{ orders }}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--./end-accordion-item-->
                            </div>
                            <!--./end-accordion-->
                        </div>
                        <!--./end-col-sm-12-->
                    </div>
                    <!--./end-row-card-row-->
                </div>
                <!--./end-card-body-->
            </div>
            <!--./end-card-->
        </div>
        <!--./end-col-md-8-->
    </div>
    <!--./end-row-->
</div>
<!--./end-container-->
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/profile.js' %}"></script>
{% endblock %}