{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid pt-5">
    <div class="row">
        <div class="col-12 text-center">
            <span class="icon pt-5">
                <i class="fas fa-check-circle fa-3x py-5 mt-5"></i>
            </span>
            <h2 class="display-font heading-lg mb-4">Thank You</h2>
            <hr class="my-3">
            <p class="text-dark body-font mx-5 my-3 px-4">All of us artists at Hue appreciate your business.
                Below you will find your digital order, along with your order details.
                <span class="text-light">
                    A confirmation email has also been sent to {{ order.email }} for your convenience.
                </span>
            </p>
        </div>
    </div>
    <!--Order Info Starts Here-->
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-sm-12 text-sm-center text-md-start">
            <div class="order-confirmation-wrapper p-2">
                <div class="row">
                    <div class="col">
                        <p class="text-muted display-font">Order Info:</p>
                    </div>
                </div>
                <!--./end-order-info-->
                <div class="row body-font">
                    <div class="col-sm-4 text-sm-center text-md-start">
                        <p class="mb-0 body-sm fwt-bold">Order #:</p>
                    </div>
                    <div class="col-sm-8 text-md-start">
                        <strong class="mb-0">{{ order.order_number }}</strong>
                    </div>
                </div>
                <!--order-date-row-->
                <div class="row body-font my-1">
                    <div class="col-sm-4 text-sm-center text-md-start">
                        <p class="mb-0 body-sm">Order Date</p>
                    </div>
                    <div class="col-sm-8 text-md-start">
                        <strong class="mb-0">{{ order.date }}</strong>
                    </div>
                </div>
                <!--./end-order-date-row-->
                <div class="row my-2 pt-3">
                    <div class="col">
                        <p class="text-muted display-font">Order Details:</p>
                    </div>
                </div>
                {% for item in order.orderitems.all %}
                <div class="row body-font">
                    <div class="col-sm-4 text-sm-center text-md-start">
                        <p class="mb-0 body-sm">Title:</p>
                    </div>
                    <div class="col-sm-8 text-md-start">
                        <strong class="mb-0"> {{ item.product.title }}</strong>
                    </div>
                </div>
                {% if request.user.is_authenticated %}
                <!--download-row-->
                <div class="row my-2 pt-3">
                    <div class="col">
                        <p class="text-muted display-font">Order Download:</p>
                    </div>
                </div>
                <div class="row body-font">
                    <div class="col-12 col-md-4">
                        <p class="text-dark">Your Order</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <div>
                            <img src="{{ item.product.image.url }}" alt="{{ item.product.title }}"
                                class="img-thumbnail img-fluid my-1" style="width: 300px; height:auto;">
                        </div>
                        <a href="{{ item.product.image }}" download="{{ item.product.image }}"
                            class="btn btn-primary btn-sm mt-2">Download</a>
                    </div>
                </div>
                {% endif %}
            </div>
            <!--./end-download-row-->
            {% endfor %}
            <!--digital-download-row-->
            <div class="row my-2 pt-3">
                <div class="col">
                    <p class="text-muted display-font">Your Information</p>
                </div>
            </div>
            <div class="row body-font">
                <div class="col-12 col-md-4">
                    <p class="mb-0 body-sm">Full Name</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <strong class="mb-0">{{ order.user_full_name }}</strong>
                </div>
            </div>
            <div class="row body-font">
                <div class="col-12 col-md-4">
                    <p class="mb-0 body-sm">Email:</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <strong class="mb-0">{{ order.email }}</strong>
                </div>
            </div>
            <!--./end-digital-download-row-->
            <!--billing-details-row-->
            <div class="row my-2 pt-3">
                <div class="col">
                    <p class="text-muted display-font">Your Billing Details</p>
                </div>
            </div>
            <div class="row body-font">
                <div class="col-12 col-md-4">
                    <p class="mb-0 body-sm">Address 1</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <strong class="mb-0">{{ order.street_address1 }}</strong>
                </div>
            </div>
            <!--./end-billing-details-row-->
            {% if order.street_address2 %}
            <div class="row my-1 body-font">
                <div class="col-12 col-md-4">
                    <p class="mb-0 body-sm">Address 2</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <strong class="mb-0">{{ order.street_address1 }}</strong>
                </div>
            </div>
            {% endif %}
            <!--order-county-->
            {% if order.county %}
            <div class="row my-1 body-font">
                <div class="col-12 col-md-4">
                    <p class="mb-0 body-sm">County</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <strong class="mb-0">{{ order.county }}</strong>
                </div>
            </div>
            {% endif %}
            <!--./order-county-->
            <!--town-or-city-->
            <div class="row my-1 body-font">
                <div class="col-12 col-md-4">
                    <p class="mb-0 body-sm">Town or City</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <strong class="mb-0">{{ order.town_or_city }}</strong>
                </div>
            </div>
            <!--./end-town-or-city-->
            <!--order-postcode-row-->
            {% if order.postcode %}
            <div class="row my-1 body-font">
                <div class="col-12 col-md-4">
                    <p class="mb-0 body-sm">Postal Code</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <strong class="mb-0">{{ order.postcode }}</strong>
                </div>
            </div>
            {% endif %}
            <!--./end-order-postcode-row-->
            <!--order-total-row-->
            <div class="row my-1 body-font">
                <div class="col-12 col-md-4">
                    <p class="mb-0 body-sm">Country</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <strong class="mb-0">{{ order.country }}</strong>
                </div>
            </div>
            <!--./order-country-->
            <!--phone-number-row-->
            <div class="row my-1 body-font">
                <div class="col-12 col-md-4">
                    <p class="mb-0 body-sm">Phone Number</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <strong class="mb-0">{{ order.phone_number }}</strong>
                </div>
            </div>
            <!--./end-phone-number-row-->
            <!--billing info-row-->
            <div class="row my-2 pt-3">
                <div class="col">
                    <p class="text-muted display-font">Billing Info</p>
                </div>
            </div>
            <!--./end-billing-info-row-->
            <!--order-total-row-->
            <div class="row my-1 body-font">
                <div class="col-12 col-md-4">
                    <p class="mb-0 body-sm">Order Total</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <strong class="mb-0">{{ order.order_total }}</strong>
                </div>
            </div>
            <!--./end-order-total-row-->
            <!--summary-row-->
            <div class="row my-1 body-font">
                <div class="col-12 col-md-4">
                    <p class="mb-0 body-sm">Summary</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <strong class="mb-0">{{ order.special_discount }}</strong>
                </div>
            </div>
            <!--./end-summary-row-->
            <!--grand-total-row-->
            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="mb-0 body-sm">Grand Total</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <strong class="mb-0">{{ order.grand_total }}</strong>
                </div>
            </div>
            <!--./end-grand-total-row my-1 body-font-->
        </div>
    </div>
</div>
{% endblock %}