@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
    font-size: 16px;
}

body > section {
    position: relative;
    margin: 0 auto;
    padding: 6.25rem 0;
    overflow: hidden;
}

/* *************************** Header & Navigation */
a.navbar-brand {
    font-family: 'Antonio', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #033030;
    text-shadow: 4px 4px 8px #033030;
    margin-left: 30px;
}

a#logo:hover {
    color: rgb(132, 116, 161);
}

.navbar-collapse {
    margin-top: 20px;
    margin-left: 30px;
}

.navbar-nav {
    display: inherit;
}

.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .show>.nav-
link,
.navbar-light .navbar-nav .nav-link, .nav-link.active {
    color: #033030;
}

.navbar-light .navbar-nav .nav-link.active:hover,
.navbar-light .navbar-nav .show>.nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .nav-link:hover
.navbar-light .navbar-nav .nav-link .nav-link.active:hover,
.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .nav-link:hover  {
    color: rgb(132, 116, 161);
}

#mainnavigation {
    font-family: 'Antonio', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: transparent;
    background: transparent;
    color: #fafafa;
}

#mainnavigation:hover {
    background: transparent;
}
/* *************************** end-header-&-navigations */

/* ************************ Sticky Slider Navigation */
.hero-tabs,
.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #eee;
	text-align: center;
    padding: 0 2em;
}

.hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: rgba(70, 47, 47, 0.65); ;
    z-index: 10;
}

a.hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #033030;
    letter-spacing: 0.1rem;
	transition: all 0.5s ease;
    font-size: 1rem;
    text-decoration: none;
}

i.fas.fa-paint-brush, 
i.fas.fa-i-cursor,
i.fas.fa-spray-can,
i.fas.fa-gamepad,
i.fas.fa-camera {
    text-shadow: 1px 2px 2px #ccc;
}

a.hero-tab:hover {
    color: rgb(172, 125, 219);
    background: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
    transition: all 0.5s ease;
    outline-width: 2px;
    outline-offset: 1px;
    outline-style: double; 
}
 
.hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: left 0.3s ease;
}
/* *************************** end sticky-slider-nav */

/***************************** Homepage */
#welcome {
    background: linear-gradient(rgb(0 0 0 / 80%), rgb(0 0 0 / 60%)),url(../../media/hue1.jpg) no-repeat center center fixed;
    background-size: cover;
    max-width: 100%;
    min-height: 50vh;
    min-height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

h1#hero {
    font-family: 'Antonio', sans-serif;
    font-size: 5rem;
    letter-spacing: 3px;
    font-weight: 300px;
    color: #fafafa;
    letter-spacing: 2px;
    text-shadow: 3px 3px 6px #000;
    padding-top: 50px;
}

h1#hero:hover {
    color: rgb(132, 116, 161);
    background-color: transparent;
}

h3.lead {
    font-size: 1.3rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    text-align: center;
    color: #fafafa;
    text-shadow: 3px 3px 6px #000;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3.lead:hover {
    color: rgb(172, 125, 219);
}

button#hero-button-1,
button#hero-button-2 {
    background-color: #6EC6CA;
    border-color: #6EC6CA;
    color: #033030;
}

button#hero-button-1:hover,
button#hero-button-2:hover {
     background-color: #033030;
     border-color: #033030;
     color: #fafafa;
}
/* *************************** .end-homepage */

/* *************************** Media Queries */
@media (min-width: 800px) {
	.hero-tabs,
	.slide
    h1 {
        font-size: 3rem;
    }
    h3 {
        font-size: 1rem;
    }

	.hero-tab {
		font-size: 1rem;
	}
}
/* *************************** .end-media-queries */