/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@100;200;300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-size: 16px;
    overflow: auto;
    margin: 0px auto;
    cursor:url('../images/splatter.png'), cell;   
}

/* *************************** Headers & Special Text */
h1,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

a {
    cursor: pointer;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.text-dark {
    color:  #100324;
}

.bg-dark {
    background-color: #100324;
}

.display-font {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.heading-xs {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
}

.heading-sm {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

.heading-md {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.4rem;
}

.heading-lg {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 2.5rem;
}

.heading-xl {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 1px;
}

.body-light {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 4rem;
}

.body-font {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

.body-small {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.body-sm {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.body-main {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
}

.body-md {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 2rem;
}

.body-lg {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 3rem;
}

.nav-xs {
    font-size: 12px;
}

.fc-main {
    color: rgb(170 151 204);    
}

.link-font {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 400;
    color: #6a509a;
}

.link-font:hover {
    background-color: rgb(170 151 204);
    opacity: 1;
    color: #fafafa;
    padding: 5px;
    transition: 0.5s ease-in-out;
}

.icon-main {
    color: rgb(170 151 204);    
}

.icon-main:hover {
     color: #6a509a;
}

hr {
    width: 20px;
    margin: 0px auto;
    border-top: 3px solid #6a509a;
}

#divider {
    width: 100%;
    border-top: 1.5px solid #6a509a;
}

button,
.btn-primary {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: rgb(170 151 204 / 88%);
    border: none;
    text-shadow: 1px .5px 2px #666;
    text-decoration: none;
    margin: 0px auto
}

.btn-primary:hover {
    background-color: #6a509a;
}

.btn-secondary {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #6a509a;
    border: none;
    text-shadow: 1px .5px 2px #666;
    text-decoration: none;
    margin: 0px auto
}

.btn-none {
    background-color: transparent;
    border: none;
    color: #6a509a;
}

.btn-none:hover {
    background-color: transparent;
    border: none;
}

input {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #6a509a;
    max-width: 100%;
}

.bg-primary {         
    background-color: #6a509aa6!important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* ***************************./end-headers-&-special-text*/

/* ***************************./Icons */

.fab {
    color: rgb(170 151 204 / 88%);
    /* multiple light source shadow effect https://designshack.net/articles/css/12-fun-css-text-shadows-you-can-copy-and-paste/ */
    text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1);
}

.fab:hover {
    color: #6a509a;
    margin-top: 5px;
}

.fas:hover {
    color: #6a509a;
}
/****************************./end-icons */


/* *************************** Header & Navigation */
ul.nav.col-12.col-lg-auto.my-2.justify-content-center.my-md-0.text-small {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
}

#navbarSupportedContent {
   color: rgb(132, 116, 161);
}

#account-dropdown {
    color: #07040e;
}

li.nav-item {
    font-size: 1rem;
}

li.nav-item:hover {
    color: rgb(172, 125, 219);
}

.navbar-dark .navbar-nav .nav-link.active:hover,
.navbar-dark .navbar-nav .show>.nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover .navbar-dark .navbar-nav .nav-link .nav-link.active:hover,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(132, 116, 161);
    background-color: transparent;
}

a#logo {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fafafa;
    text-shadow: 4px 4px 8px #033030;
}


a#logo:hover {
    color: rgb(132, 116, 161);
}

.navbar-collapse {
    margin-top: 20px;
    margin-left: 30px;
}

.navbar-nav {
    display: inherit;
}

#accountOptions,
a.nav-link,
div#bottom-nav {
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fafafa;
    text-decoration: none;
}

a.nav-link:hover {
    color: rgb(132, 116, 161);
}

a.mb-auto.text-small.btn.btn-light.text-dark.me-2 {
    font-size: 12px;
}

a.btn.btn-primary {
    font-size: 12px;
}

.alert-info,
#nav-alert {
    color: #070412;
    background-color: #edcdff85;
    border: none;
    font-family: 'Raleway', sans-serif;
    /* font-weight: 300; */
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    box-shadow: 1px 1px 3px 1px #4f475b;
}

strong#nav-sale {
    font-family: 'Oswald', serif;
}

a#nav-alert-link {
    color: rgb(165, 221, 224);
    text-transform: uppercase;
    text-decoration: none;
}

a#nav-alert-link:hover {
    color: #033030;
}

button#hero-button:hover,
button#hero-button-2:hover {
    background-color: rgb(54 45 70 / 80%);
    color: #fafafa;
}

ul,
li {
    list-style: none;
    float: left;
}
/*.end-header-&-navigation */

/* ************************** Mobile Nav & Shop Nav */
.input-group-text, .input-group { 
  background-color: transparent;    
  border: none; 
}

button#shopDropdown1 {
    background-color: transparent;
}

.dropdown-toggle {
    background: none;
}

a.dropdown-toggler.nav-link.d-block.d-lg-none {
    background: none;
}

/* https://www.solodev.com/blog/web-design/creating-a-toggled-search-bar.stml */
/* ***************************.end-mobile-nav-&-shop-nav */


/***************************** Homepage */
.hero-container,
#welcome {
    background: linear-gradient(rgb(0 0 0 / 80%), rgb(0 0 0 / 60%)), url(../../media/hue1.jpg) no-repeat center center fixed;
    background-size: cover;
    max-width: 100%;
    min-height: 50vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

h1#title {
    font-family: 'Oswald', sans-serif;
    font-size: 4.55rem;
    letter-spacing: 3px;
    font-weight: 300;
    color: #fafafa;
    letter-spacing: 2px;
    text-shadow: 3px 3px 6px #000;
    margin-top: 80px;
}

h2.lead.my-4.py-3.mx-auto {
    font-size: 1.3rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-align: center;
    color: #fafafa;
    text-shadow: 3px 3px 6px #000;
    margin-top: 20px;
    margin-bottom: 20px;
}

a#sale {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 3.55px;
    text-decoration: none;
    font-weight: 400;
    color: #fafafad9;
    text-shadow: -2px 4px 10px #666;
}


a#sale:hover {
    color: rgba(132, 116, 161, 0.8);
}

button#hero-button {
    font-size: 1.3rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    width: 100px;
    height: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: rgba(132, 116, 161, 0.8);
    border: none;
    box-shadow: 1px 1px 3px #000;
    text-decoration: none;
}

button#hero-button:hover,
button#hero-button-2:hover {
    background-color: rgb(54 45 70 / 80%);
    color: #fafafa;
}

/* ***************************.end-hero */

/********************************* Homepage Category Cards */
div.card-image-overlay {
    width: 100%;
    padding-top: 10rem;
}

h3.py-3.mt-5.mb-4.lh-1.fw-bold {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    background-color: rgb(121 93 130 / 88%);
    font-weight: 300;
    letter-spacing: 1.5px;
    margin: 0px auto;
}

img.card-img-overlay {
    background-position: center;
    background-size: cover;
    max-width: 100%;
    min-height: 100vh;
    justify-content: center;
    display: flex;
    overflow: hidden;
    border: none;
    margin: 0px auto;
}

/* grayscale effect copied from https://codepen.io/mhhasan320/pen/BwqvLL */
div#category-card1 {
    background-image: url('../../media/glitchart.jpg');
    background-position: center;
    background-size: cover;
    min-width: 100%;
    min-height: 20rem;
    justify-content: center;
    display: flex;
    overflow: hidden;
    border: none;
    margin: 0px auto;
    box-shadow: 1px 4px 14px 1px #2f1b31;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

div#category-card1:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

div#category-card2 {
    background-image: url('../../media/mixedmedia.jpg');
    background-position: center;
    background-size: cover;
    min-width: 100%;
    min-height: 20rem;
    justify-content: center;
    display: flex;
    overflow: hidden;
    border: none;
    margin: 0px auto;
    box-shadow: 1px 4px 14px 1px #2f1b31;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

div#category-card2:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

div#category-card3 {
    background-image: url('../../media/conceptualart.jpg');
    background-position: center;
    background-size: cover;
    min-width: 100%;
    min-height: 20rem;
    justify-content: center;
    display: flex;
    overflow: hidden;
    border: none;
    margin: 0px auto;
    box-shadow: 1px 4px 14px 1px #2f1b31;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

div#category-card3:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

div#category-card4 {
    background-image: url('../../media/digitalpainting.jpg');
    background-position: center;
    background-size: cover;
    min-width: 100%;
    min-height: 20rem;
    justify-content: center;
    display: flex;
    overflow: hidden;
    border: none;
    margin: 0px auto;
    box-shadow: 1px 4px 14px 1px #2f1b31;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

div#category-card4:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

div#category-card5 {
    background-image: url('https://cdn.pixabay.com/photo/2017/02/18/18/31/fractal-2077883_1280.jpg');
    background-position: center;
    background-size: cover;
    min-width: 100%;
    min-height: 20rem;
    justify-content: center;
    display: flex;
    overflow: hidden;
    border: none;
    margin: 0px auto;
    box-shadow: 1px 4px 14px 1px #2f1b31;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

div#category-card5:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

div#category-card6 {
    background-image: url('https://cdn.pixabay.com/photo/2018/03/14/18/20/girl-3225923_1280.png');
    background-position: center;
    background-size: cover;
    min-width: 100%;
    min-height: 20rem;
    justify-content: center;
    display: flex;
    overflow: hidden;
    border: none;
    margin: 0px auto;
    box-shadow: 1px 4px 14px 1px #2f1b31;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

div#category-card6:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

/* ***************************./end-homepage */

/* ***************************Login & Sign Up */
.login,
.signup {
    height: 100%;
    width: 100%;
    padding-top: 56px;
    overflow-x: hidden;
}

i .signup-auth-wrapper .signup-auth-body,
i .login-auth-wrapper .login-auth-body {
    width: 360px;
}

.login-auth-wrapper,
.signup-auth-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.login-auth-body,
.signup-auth-body {
    display: flex;
}

.login-main-col,
.login-background-col,
.signup-main-col,
.signup-background-col {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.form-login,
.form-signup {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}

#login,
#signup {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: #f5f6fe;
    padding-top: 56px;
    overflow-x: hidden;
}

.login-auth-wrapper,
.login-auth-body,
.signup-auth-wrapper,
.signup-auth-body {
    background: #fafafa;
    display: flex;

}

#signup-page,
#login-page {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background-color: #e5d9ec;
}

p#signup-slug,
p#login-slug {
    color: rgb(132, 116, 161);
}

.signup-background-mask,
.login-background-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    background: rgba(0, 0, 0, .15);
    overflow: hidden;
}

.login-background-lg,
.hue-login {
    background: url("../../media/categoryimage1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 0px;
    overflow: hidden;
    height: 100vh;
}

.signup-background-lg, 
.hue-signup {
    background: url("../../media/categoryimage3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 0px;
    overflow: hidden;
    height: 100vh;
}

.signup-background-overlay,
.login-background-overlay {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 11;
}

img.me-auto.mb-4 {
    margin-top: 100px;
}

button.btn.btn-primary.loginButton {
    max-width: fit-content;
    padding: 25px 12px;
}

.d-flex.flex-column.align-content-end.pt-5 {
    height: 100vh;
    overflow: scroll;
}

/* ***************************./end-login */


/* *************************** Shop */
#regular-price {
    text-decoration: line-through;
}

#discount-price {
    text-decoration: none;
}

.shop-container {
    min-height: 100vh;
    overflow: hidden;
}

.card-img-top {
    max-width: 100%;
    height: auto;
}

/* Shadow effect copied from https://codepen.io/team/sparkbox/pen/dRpZXj */
#shop-card {
    box-shadow: 0 1.5em 2em -1em #999;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.ribbon-wrapper {
    width: 108px;
    height: 108px;
    overflow: hidden;
    position: absolute;
    top: -6px;
    right: -6px;
}

.ribbon-S {
    font: bold 15px Sans-Serif;
    line-height: normal;
    line-height: 18px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -4px;
    top: 26px;
    width: 150px;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    letter-spacing: 0.5px;
    background: linear-gradient(#7c6d9b -50%, #AA97CC 50%, #AA97CC 0%, #7c6d9b 150%);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    box-shadow: -3px 5px 6px -5px rgba(0, 0, 0, 0.5);
}

.ribbon-C {
    line-height: normal;
    line-height: 18px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -4px;
    top: 26px;
    width: 150px;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    letter-spacing: 0.5px;
    background: linear-gradient(#7c6d9b -50%, #AA97CC 50%, #AA97CC 0%, #7c6d9b 150%);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    box-shadow: -3px 5px 6px -5px rgba(0, 0, 0, 0.5);
}
.promo-ribbon {
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0%;
}

/* ***************************./end-shop */

/* *************************** Product Details */
.product-details-wrapper {
    position: relative;
    overflow: hidden;
}

#productdetails1,
#productdetails2 {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    box-shadow: 0 1.5em 2em -1em #999;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
}

/* Shadow effect copied from https://codepen.io/team/sparkbox/pen/dRpZXj */
#shop-card {
    box-shadow: 0 1.5em 2em -1em #999;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#shop-card:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(100%);
}

a.btn.btn-outline-dark.btn-dark.rounded-1,
input.btn.btn-outline-dark.btn-dark.text-light.fw-bold.rounded-1.text-uppercase {
    font-family: 'Raleway', sans-serif;
    letter-spacing: .5px;
    font-size: 11px;
    margin: 5px;
    position:  relative;
    vertical-align: center;
    overflow: hidden;
}

/* ***************************./end-product-details*/

/* **************************** Shopping Cart */
#cart-total {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: .5px;
}

th {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

/* ****************************./end-shopping-cart */

/* *************************** Media Queries */
/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    #main-nav {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top:  116px;
    }
}

@media only screen and (max-width: 768px) {

    nav.navbar.navbar-expand-lg.navbar-dark.bg-transparent,
    .bg-transparent {
        background-color: rgba(176, 186, 187);
    }
}

@media (max-width: 767.98px) {

    .login-auth-wrapper {
        width: 100%;
    }

    .login-background-col,
    .signup-background-col {
        display: none;
    }
}

/* *************************** .end-media-queries */