<div class="popover custom-popover rounded-0 border-top-0 alert alert-warning alert-dismissible fade show" role="alert" data-bs-hide="false">
    <div class="arrow-up arrow-info"></div>
    <div class="w-100 popover-capper bg-info"></div>
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <div class="popover-body bg-white">
        {{ message }}        
    </div>
</div>