<div class="popover custom-popover rounded-0 border-top-0" data-autohide="false">
    <div class="arrow-up arrow-danger"></div>
    <div class="w-100 popover-capper"></div>
    <div class="col-12">

    <div class="popover-header bg-white text-dark">
        <button type="button" class="ml-2 mb-1 close text-dark" data-dismiss="popover" aria-label="Close">
            <span aria-hidden="true"><i class="fas fa-times text-end"></i></span>
        </button>
    </div>
    </div>
    <div class="popover-body bg-light">
        {{ message }}        
    </div>
</div>z