<div class="display-font text-dark collapse navbar-collapse" id="shopNavCollapse">
    <ul class="list-group list-group-horizontal-lg">
        <li class="list-item">
            <a href="{% url 'shop' %}" class="nav-link display-font">All Products</a>
        </li>
        <li class="list-item">
            <a href="{% url 'shop' %}?category=glitch-art&direction=asc" class="nav-link display-font">Glitch Art</a>
        </li>
        <li class="list-item">
            <a href="{% url 'shop' %}?category=surrealism&direction=asc" class="nav-link display-font">Surrealism</a>
        </li>
        <li class="list-item">
            <a href="{% url 'shop' %}?category=illustrations&direction=asc"
                class="nav-link display-font">Illustrations</a>
        </li>
        <li class="list-item">
            <a href="{% url 'shop' %}?category=photo-paintings&direction=asc"
                class="nav-link display-font">Photo-Paintings</a>
        </li>
        <li class="list-item">
            <a href="{% url 'shop' %}?category=popart&direction=asc" class="nav-link display-font">Pop Art</a>
        </li>
    </ul>

</div>