{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load account socialaccount %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block inner_content %}
<div class="container pt-5 mt-5">
	<div class="row">
		<div class="col-12 mt-5 pt-5 text-center">
			<h1>Sign Out</h1>
			<p>Are you sure you want to sign out?</p>
		</div>
		<form class="col-12 text-center" method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit">{% trans 'Sign Out' %}</button>
</form>
		</div>
	</div>
</div>



{% endblock %}
