       <!--header starts here <https://getbootstrap.com/docs>-->
        <header class="container-fluid px-0 fixed-top">
            <div class="px-3 py-2 bg-dark bg-dark text-white">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="#" class="d-flex align-items-center py-2 px-3 my-lg-0 me-lg-auto text-white text-decoration-none" id="logo">
                        <i class="bi me-2 fas fa-tint">
                        </i> Hue
                    </a>
                    <ul class="nav col-12 col-lg-auto my-2 mx-3 justify-content-center my-md-0 text-small">
                        <li>
                            <a href="#" class="nav-link text-white">
                                <i class="bi d-block mx-auto mb-1 fas fa-home text-center" width="30" height="30">
                                </i>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <i class="bi d-block mx-auto mb-1 fas fa-info text-center" width="30" height="30">
                                </i>
                                About
                            </a>
                        </li>
                        <li>
                            <a href="" class="nav-link text-white">
                                <i class="bi d-block mx-auto mb-1 fas fa-shopping-bag text-center" width="30" height="30">
                                </i>
                                Shop
                            </a>
                        </li>
                        <li>
                                                <div class="text-end text-dark" id="bottom-nav">
                        {% if request.user.is_authenticated %}
                        <a class="dropdown-toggle nav-link link-dark text-small" href="#" role="button" id="acccountOptions" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi d-block mx-auto text-center mb-1 fas fa-user">
                            </i>
                            My Account
                        </a>
                        <div class="col-12 col-lg-4 mb-1 mb-lg-0 me-lg-auto">
                        <ul class="dropdown-menu text-dark" aria-labelledby="acccountOptions">
                            {% if request.user.is_superuser %}
                            <li> <a href="" class="dropdown-item">Product Management</a>
                            </li>
                            {% endif %}
                            <li> <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
                            {% else %}
                           <a href="#" class="nav-link">
                                <i class="bi d-block mx-auto mb-1 fas fa-info text-center" width="30" height="30">
                                </i>
                                My Hue</a>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </li>
                </div>
            </div>
            <div class="px-3 py-2 pb-2 bg-light border-bottom my-auto mx-auto">
                <div class="container d-flex flex-wrap justify-content-center">
                    <form class="col-12 col-lg-4 mb-2 mb-lg-0 me-lg-auto">
                        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                    </form>
                    <div class="text-end text-dark" id="bottom-nav">
                        <li id="cart">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}{% endif %}nav-link text-white" href="#" id="shopping-cart">
                            <div class="text-center">
                                <div><i class="bi d-block mx-auto my-0 mb-1 fas fa-shopping-cart text-center"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                    ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                    $0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="px-3 py-2 pb-2 bg-light border-bottom my-auto mx-auto">
                <div class="container d-flex flex-wrap justify-content-center">
                    <form class="col-12 col-lg-4 mb-2 mb-lg-0 me-lg-auto">
                        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                    </form>
                    <div class="text-end text-dark" id="bottom-nav">
                        {% if request.user.is_authenticated %}
                        <a class="dropdown-toggle nav-link link-dark text-small" href="#" role="button" id="acccountOptions" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi d-block mx-auto text-center mb-1 fas fa-user">
                            </i>
                            My Account
                        </a>
                        <div class="col-12 col-lg-4 mb-1 mb-lg-0 me-lg-auto">
                        <ul class="dropdown-menu text-dark" aria-labelledby="acccountOptions">
                            {% if request.user.is_superuser %}
                            <li> <a href="" class="dropdown-item">Product Management</a>
                            </li>
                            {% endif %}
                            <li class="text-dark"> <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
                            {% else %}
                            <a type="button" class="btn btn-light text-dark me-2" href="{% url 'account_login' %}" id="login-button">Login</a>
                            <a type="button" class="btn btn-primary" href="{% url 'account_signup' %}" id="signup-button">Sign-up</a>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </ul>
</div>
</div>
</header>