{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
	<div class="row">
		<div class="col"></div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>

<div class="container-fluid pt-5">
	<div class="row py-3 text-center pt-5 justify-content-center">
		<div class="col-12">
			<span class="icon pt-3 pt-mt-5">
				<i class="fas fa-cart-plus fa-3x py-5 mt-5"></i>
			</span>
			<h2 class="display-font text-center pt-3">Add Products</h2>
			<p class="text-center body-font mx-5 my-3 px-4">Hi, <strong>{{ user.profile|upper }}! </strong></p>
			<hr class="my-2">
			<p class="body-font mx-5">Use this tool to add new products to Hue's online shop!</p>
		</div>
		<div class="col-12">
			<form method='POST' action="{% url 'get_title_suggestions' %}" class="form mb-2" enctype="multipart/form-data">
				{% csrf_token %}
			<input type="text" name="artwork_description" id="artwork_description">
			<button type="submit" onsubmit="predict()"">Generate</button>
		</form>
<input list="title_suggestions" name="title" id="title_suggestions">
		<datalist id="title-suggestions"><p>
			<datalist id="title-suggestions">'
				{% for predictions in query.fetch() %}
				<option value="{predictions}">
                    </datalist>
		</p></datalist>
{{ predictions }}
{% endfor %}
		</div>
	</div>


		<div class="col-12 text-center">
				<h6>
				<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
				New!
				</button>
				</h6>
				</div>
				<div class="collapse row text-center justify-content-center" id="collapseExample">
				<div class="col-md-8">
					<form method="POST" class="form mb-2">
				  <label for="artworkDescription" class="visually-hidden">Describe your artwork here</label>
				  <input type="text" class="form-control" id="artworkDescription" placeholder="Describe your artwork & find the perfect title">
				</div>
				<div class="col-md-4">
				  <button type="submit" class="btn btn-primary mb-3">Generate</button>
				</div>
				</div>
		</div>
	</div>
	<div class="row d-flex justify-content-center">
		<div class="col-md-8 justify-content-center">
			<div class="card p-5 my-0 mx-auto bg-main text-light body-font">
				<form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
					{% csrf_token %}
					{% for field in form %}
						{% if field.name == 'image' %}
						  {{ field }}
						{% else %}
						  {{ field | as_crispy_field }}
						{% endif %}
					{% endfor %}
					<div class="text-right">
						<button>
							<a class="btn btn-dark rounded-0" href="{% url 'shop' %}">Cancel</a>
							</button>
						<button class="btn btn-dark rounded-0" type="submit">Add Product</button>
					</div>
				</form>
			</div>
			<div class="col-md-2"></div>
		</div>


	</div>
</div>
{% endblock %}



{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
	$('#new-image').change(function () {
		var file = $('#new-image')[0].files[0];
		$('#filename').text(`Image will be set to: ${file.name}`);
	});
</script>
<script type="text/javascript">
function predict() {
    const text = document.getElementById('artwork_description').value;
    const url = `/predict/?text=${encodeURIComponent(text)}`;
    fetch(url)
        .then(response => response.json())
        .then(data => {
            const predictions = data.predictions;
            const datalist = document.getElementById('title_suggestions');
            datalist.innerHTML = '';
            predictions.forEach(prediction => {
                const option = document.createElement('option');
                option.value = prediction;
                datalist.appendChild(option);
            });
        })
        .catch(error => console.error(error));
}
</script>
{% endblock %}

