{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<section class="title pt-lg-5 pt-3 mt-3">
    <div class="container-fluid">
        <div class="row pt-3 mt-3 text-center">
            <div class="col-12">
         <h3 class="display-font text-dark mt-3">
            {{ product.title }}</h3>
            </div>
        </div>
    </div>
</section>
<section class="product-details-grid pt-lg-3 pt-2 mt-3 mt-lg-5">
    <div class="container-fluid my-0 mx-auto border border-2">
        <!-- row-->
        <div class="row d-flex justify-content-between my-5 py-5 my-lg-5 pt-0 pt-lg-5 mx-5">
            <!-- Product gallery-->
            <div class="col-lg-7 px-2 px-lg-5 my-0 mx-auto">
                <div class="product-gallery">
                    <div class="product-gallery-preview order-sm-2">
                        <div class="card h-100 img-fluid border border-1 shadow-lg">
                            <img class="h-100 img-fluid" src="{{ product.image.url }}" class="figure-img img-fluid rounded" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <!-- column -->
            <div class="col-lg-5 pt-4 pt-lg-0 px-2 px-lg-5 my-0 mx-auto">
                <div class="ms-auto pb-3">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h3 class="d-flex fs-sm display-font text-main align-middle mt-1 ms-1">
                            {{ product.title }}</h3>
                    </div>
                    <span class="fw-normal body-sm">
                        {% if product.label != 'NP' %}
                        <span class="body-font body-main my-0 text-left text-muted" id="regular-price">
                            {{ product.price }} </span>
                        <span class="p-price text-main body-main my-0 text-left fw-bold ms-2" style="text-decoration: none;">
                            {{ product.display_final_price }}
                        </span>
                        {% else %}
                        <p class="lead mb-0 text-left text-muted" id="discount-price">
                            {{ product.display_final_price }}</p>
                        {% endif %}
                        </p>
                    </span>
                    <div class="d-flex justify-content-between">
                        <div class="py-2">
                            <div class="fw-bold body-font">Description</div>
                            <div class="body-font text-break body-sm text-muted mb-2">{{ product.product_details }}</div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between border-bottom">
                        <div>
                            <div class="fw-bold body-font text-dark">Medium</div>
                        </div>
                        <div class="body-font text-muted body-sm">{{ product.medium }}</div>
                    </div>
                    <div class="d-flex justify-content-between border-bottom py-2 my-3">
                        <div>
                            <div class="fw-bold body-font text-dark">Orientation</div>
                        </div>
                        <div class="body-font text-muted body-sm">{{ product.orientation }}</div>
                    </div>
                    <div class="row d-flex justify-content-between my-0 mx-auto">
                        <div class="col-6">
                            <form class="" method="post">
                                <div class="mb-3 d-flex align-items-center">
                                    <select class="form-select w-auto body-sm">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    <span class="btn btn-none btn-shadow d-block" type="submit">
                                        <i class="fas fa-shopping-cart fa-lg text-main"></i>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div class="col-6">
                            <div class="mb-3 d-flex align-items-center">
                                <button class="btn btn-none me-0" type="button" data-bs-toggle="tooltip" title="" data-bs-original-title="Add to wishlist" aria-label="Add to wishlist">
                                    <i class="fas fa-heart text-main fa-lg text-main"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Product description section 1-->
    <div class="container">
        <div class="row align-items-center py-4 py-lg-5">
            <div class="col-lg-5 col-md-6 offset-lg-1">
                <h2 class="h3 mb-4 pb-2 display-font fw-normal">HUE DIGITAL ART AGREEMENT</h2>
                <h6 class="fs-base mb-3">HOW TO GET YOUR ORDER</h6>
                <p class="fs-sm text-muted pb-2 pe-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit.</p>
            </div>
            <div class="col-lg-4 col-md-6 py-4">
                <h6 class="fs-base mb-3 body-small">HOW TO GET YOUR ORDER</h6>
                <ul class="nav nav-tabs mb-3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="#step1" data-bs-toggle="tab" role="tab" aria-selected="false">
                            <i class="fas fa-binoculars fa-3x icon-main"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#step2" data-bs-toggle="tab" role="tab" aria-selected="false">
                            <i class="fas fa-credit-card fa-3x icon-main"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#step3" data-bs-toggle="tab" role="tab" aria-selected="false">
                            <i class="fas fa-envelope-open fa-3x icon-main"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#step4" data-bs-toggle="tab" role="tab" aria-selected="false">
                            <i class="fas fa-download fa-3x icon-main"></i>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#step5" data-bs-toggle="tab" role="tab" aria-selected="true"><i class="ci-dry-clean fs-xl"></i></a></li>
                </ul>
                <div class="tab-content text-muted fs-sm">
                    <div class="tab-pane body-small fade pt-4 mt-4 fw-bold" id="step1" role="tabpanel">FIND IT</div>
                    <div class="tab-pane fade" id="step2" role="tabpanel">BUY IT</div>
                    <div class="tab-pane fade" id="step3" role="tabpanel">OPEN IT</div>
                    <div class="tab-pane fade" id="step4" role="tabpanel">DOWNLOAD IT</div>
                    <div class="tab-pane fade" id="step5" role="tabpanel">ENJOY IT!</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product description section 2-->
    <div class="row align-items-center py-4 py-lg-5">
        <div class="col-lg-5 col-md-6 offset-lg-1">
            <img class="d-block rounded-3 border-0 img-thumbnail img-fluid" src="../../media/hue5.jpg" alt="Map">
        </div>
        <div class="col-lg-4 col-md-6 offset-lg-1 py-4">
            <h2 class="h3 mb-4 pb-2 display-font fw-normal">Hue Product Guarantee</h2>
            <h6 class="fs-base mb-3 display-font fw-normal">Hue Digital Arts, Ltd.</h6>
            <div class="d-flex mb-2">
                <div class="me-4 pe-2 text-center">
                    <h4 class="body-font body-main fw-bold mb-1">100%</h4>
                    <p class="body-font body-sm">Customer Satisfaction</p>
                </div>
                <div class="me-4 pe-2 text-center">
                    <h4 class="body-font body-main fw-bold mb-1">100%</h4>
                    <p class="body-font body-sm">Hue Licensed Artworks</p>
                </div>
                <div class="text-center">
                    <h4 class="body-font body-main fw-bold mb-1">100%</h4>
                    <p class="body-font body-sm">Creativity</p>
                </div>
            </div>
            <h6 class="fs-base mb-3 body-font body-sm fw-bold">CUSTOMER SATISFACTION GUARANTEE</h6>
            <p class="fs-sm text-muted pb-md-2">If you are not 100%</p>
        </div>
    </div>
    </div>
    </a>
    </li>
    </ul>
    </div>
    </div>
    </div>
    </span>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</section>
{% endblock %}