{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="overlay"></div>z
<!--product-details-grid-->
<section class="product-details-grid pt-lg-1">
    <div class="container px-3 my-0 mx-auto">
        <!-- row-->
        <div class="row d-flex justify-content-between my-5 py-5 my-lg-5 pt-0 pt-lg-5">
            <!-- product image card-->
            <div class="col-sm-12 col-lg-6 my-0 mx-auto pt-sm-3">
                {% if product.image.url %}
                <div class="card my-0 align-items-center border-0 mx-auto mb-4">
                    <img id="productdetails1" class="img-fluid" onclick="return buttonClicked()"
                        src="{{ product.image.url }}" alt="{{ product.title }}">
                    {% else %}
                    <img id="productdetails2" class="img-fluid" src="{{ MEDIA_URL }}noimage.png"
                        alt="{{ product.title }}">
                </div>
                {% endif %}
            </div>
        </div>
        <!--./end-product-image-card-->
        <!-- product details -->
        <div class="col-sm-12 col-lg-6 my-0 mx-auto pt-sm-3">
            <div class="me-lg-5 pb-3">
                <div class="d-flex justify-content-between align-items-start mb-2">
                    <div class="col-6 text-start">
                        <h3 class="display-font heading-md">
                            {{ product.title }}</h3>
                    </div>
                    <div class="col-6 text-start">
                        <p class="fw-normal heading-md lead mb-0 text-end fw-bold">
                            ${{ product.price }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between border-bottom py-2 my-3">
                <div class="py-2">
                    <div class="fw-bold body-font">Details</div>
                    <div class="body-font text-break body-sm text-muted mb-2">{{ product.product_details }}</div>
                </div>
            </div>
            <div class="d-flex justify-content-between border-bottom py-2 my-3">
                <div class="py-2">
                    <div class="fw-bold body-font text-dark">Medium</div>
                </div>
                <div class="body-font text-muted body-sm">{{ product.medium }}</div>
            </div>
            <div class="d-flex justify-content-between border-bottom py-2 my-3">
                <div class="py-2">
                    <div class="fw-bold body-font text-dark">Orientation</div>
                </div>
                {% if product.orientation == '3' %}
                <div class="body-font text-muted body-sm">Portrait/Vertical</div>
                {% endif %}
                {% if product.orientation == '4' %}
                <div class="body-font text-muted body-sm">Landscape/Horizontal</div>
                {% endif %}
                {% if product.orientation == '5' %}
                <div class="body-font text-muted body-sm">Square</div>
                {% endif %}
            </div>
            <div class="d-flex justify-content-between border-bottom py-2 my-3">
                <div class="py-2">
                    <div class="fw-bold body-font text-dark">File Size</div>
                </div>
                <form class="w-auto" method="POST" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="form-row">
                        {% with product.has_dimensions as d %}
                        {% if d %}
                        <select class="form-select rounded-0 w-100" name="product_dimension" id='id_product_dimension'>
                            <option value="s">S</option>
                            <option value="m" selected>M</option>
                            <option value="l">L</option>
                            <option value="xl">XL</option>
                        </select>
                    </div>
                </form>
                {% endif %}
                {% endwith %}
            </div>
            <div class="d-flex justify-content-between border-bottom py-2 my-3">
                <div class="py-2">
                    <div class="fw-bold body-font text-dark">Quantity:</div>
                </div>
                    <div class="input-group my-0 mx-auto justify-content-end">
                        <div class="bg-transparent border-0">
                        <button class="decrement-qty my-0 mx-auto btn rounded-0" data-item_id="{{ product.id }}"
                            id="decrement-qty_{{ product.id }}">
                            <span class="icon">
                                <i class="fas fa-minus fa-xs"></i>
                            </span>
                        </button>
                        </div>
                        <input class="form-control-sm qty_input body-small" type="number" name="quantity" value="1"
                            min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                        <div class="bg-transparent border-0">
                            <button class="increment-qty btn rounded-0" data-item_id="{{ product.id }}"
                                id="increment-qty_{{ product.id }}">
                                <span class="icon">
                                    <i class="fas fa-plus fa-xs"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Keep Shopping or Add to Cart-->
                <div class="row">
                    <div class="col-6 text-start pt-5">
                        <a href="{% url 'shop' %}" class="btn btn-outline-dark btn-dark rounded-1">
                            <span class="icon text-light">
                                <i class="fas fa-chevron-left fa-sm"></i>
                            </span>
                            <span class="text-uppercase fw-bold text-light">Keep Shopping</span>
                        </a>
                        <input type="submit"
                            class="btn btn-outline-dark btn-dark text-light fw-bold rounded-1 text-uppercase"
                            value="Add to Cart">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </div>
            </form>
        </div>
    </div>
    <!--./-end-product-details-->
    </div>
</section>
<!--./product-details-grid-->
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'shop/includes/qty-script.html' %}
<script src="{% static 'shop/js/shop.js' %}"></script>
{% endblock %}