{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container-fluid bg-light mt-3 pt-3 pb-2">
    <div class="row">
        <div class="col text-center mt-3 p-3">
            <h2 class="display-font my-3">The Shop</h2>
             <hr class="w-50 mb-1">
            {% for c in current_categories %}
            <a class="category-badge text-decoration-none" href="{% url 'shop' %}?category={{ c.title }}">
                <span class="p-2 mt-3 mb-0 badge bg-primary text-light rounded-0 border-0 border-dark">
                {{ c.friendly_name }}</span>
            </a>
            {% endfor %}
            {% for l in current_labels %}
            <a class="label-badge text-decoration-none" href="{% url 'shop' %}?category={{ c.title }}">
                <span class="p-2 mt-3 mb- badge bg-primary text-light rounded-0 border-0 border-dark">{{ l }}
                </span>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="row my-0 mx-auto">
        <div class="shop-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center">
                    <div class="sort-select-wrapper justify-content-center w-auto body-font">
                        <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="title_asc" {% if current_sorting == 'title_asc' %}selected{% endif %}>Title (A-Z)</option>
                                <option value="title_desc" {% if current_sorting == 'title_desc' %}selected{% endif %}>Title (Z-A)</option>
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="label_asc" {% if current_sorting == 'label="1"' %}selected{% endif %}>With People</option>
                                <option value="label_desc" {% if current_sorting == 'label="2"' %}selected{% endif %}>Without People</option>
                                <option value="orientation_asc" {% if current_sorting == 'orientation="3"' %}selected{% endif %}>Vertical</option>
                                <option value="orientation_desc" {% if current_sorting == 'orientation="4"' %}selected{% endif %}>Horizontal</option>
                                <option value="orientation_desc" {% if current_sorting == 'orientation="5"' %}selected{% endif %}>Square</option>
                            </select>
                        </div>
                    </div>
                <div class="col-12 col-md-6 order-md-first body-font body-mds">
                    <p class="text-muted mt-3 text-center text-md-left">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <span class="small"><a href="{% url 'shop' %}">Back to Shop</a> | </span>
                        {% endif %}
                        {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>
            <div class="row g-1">
                {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2 p-lg-4">
                    <div class="card border-0" id=shop-card>
                        {% if product.image %}
                        <div class="card-img-top">
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.title }}">
                        </a>
                    </div>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.title }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <h4 class="mb-2 display-font heading-sm">{{ product.title }}</h4>
                             <p class="body-small my-2 text-muted">{{ product.medium }}</p>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                      <h6 class="p-price text-main body-sm mb-0 text-left fw-bold ms-2 my-2">
                                        ${{ product.price }}
                                    </h6>
                                    {% if product.category %}
                                    <p class="body-small body-font mt-1 mb-0">
                                        <a class="text-muted" href="{% url 'shop' %}?category={{ product.category.title }}">
                                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                        </a>
                                    </p>
                                    {% endif %}
                                    {% if product.category.parent %}
                                    <p class="body-small body-font mt-1 mb-0">
                                        <a class="text-muted" href="{% url 'shop' %}?category={{ product.category.parent }}">
                                            <i class="fas fa-tag mr-1"></i>{{ product.category.parent.friendly_name }}
                                        </a>
                                    </p>
                                    {% endif %}
                                    {% if request.user.is_superuser %}
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <small class="ml-3">
                                                <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                                <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                            </small>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                {% endfor %}
            </div>
        </div>
 <div class="btt-button rounded-0">
        <a class="btn btn-none btt-link d-flex h-100">
            <i class="fas fa-chevron-up text-dark fa-2x text-end mx-auto my-auto"></i>
        </a>    
    </div>
</div>
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'shop/includes/qty-script.html' %}

    <script type="text/javascript">
        $('.btt-link').click(function(e) {
            window.scrollTo(0,0)
        })
    </script>

     <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}