{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'shop/css/shop.css' %}">
{% endblock %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid bg-light mt-3 pt-3 pb-2">
    <div class="row">
        <div class="col-12 text-center mt-3 p-3">
            <h2 class="display-font my-3 mt-4 pt-lg-5">The Shop</h2>
             <hr class="w-50 mb-1">
            {% for c in current_categories %}
            <a class="category-badge text-decoration-none" href="{% url 'shop' %}?category={{ c.title }}">
                <span class="p-2 mt-3 mb-0 badge bg-primary text-light rounded-0 border-0 border-dark">
                {{ c.friendly_name }}</span></a>
            {% endfor %}

            {% for l in current_labels %}
            <a class="label-badge text-decoration-none" href="{% url 'shop' %}?category={{ c.title }}">
                <span class="p-2 mt-3 mb- badge bg-primary text-light rounded-0 border-0 border-dark">{{ l }}
                </span>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="row d-flex g-4 justify-content-center justify-content-lg-between my-0 mx-auto px-3 px-lg-5 pb-3">
        <div class="col-auto d-flex justify-content-center justify-content-lg-start">
                    <div class="sort-select-wrapper justify-content-center w-auto body-font">
                        <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="title_asc" {% if current_sorting == 'title_asc' %}selected{% endif %}>Title (A-Z)</option>
                                <option value="title_desc" {% if current_sorting == 'title_desc' %}selected{% endif %}>Title (Z-A)</option>
                            </select>
                        </div>
        </div>
        {% if has_artwork_for_import %}
        <div class="col-auto justify-content-center justify-content-lg-center">
            <a href="{% url 'import_artwork_to_store' %}" class="import-font">Import Art</a>
        </div>
        {% endif %}
        <div class="col-auto justify-content-lg-end display-font">
            <p class="text-muted text-center text-md-end">
                {% if search_term or current_categories %}
               
                {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                <span class="display-font">
                    <a href="{% url 'shop' %}" class="display-font text-purple" style="text-decoration: none;">
                        <i class="fas fa-chevron-left"></i>
                    Shop All
                    </a>
                </span>
                {% else %}
                {{ products|length }} Products
                {% endif %}
            </p>
        </div>

    </div>

<!--start shop-container-->
<div class="container-fluid shop-container px-5 bg-light">
    <div class="row g-3">
        {% for product in products %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2 p-lg-4">
            <div class="card border-0" id=shop-card>
                {% if product.image %}
                <a href="{% url 'product_detail' product.id %}">
                <div class="card-img-top">
                    <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.title }}"  oncontextmenu="return false" onselectstart="return false" ondragstart="return false">
                </a>

                {% else %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.title }}" oncontextmenu="return false" onselectstart="return false" ondragstart="return false">
                </a>
                {% endif %}
                </div>
                <a class="card-body text-center pb-0" href="{% url 'product_detail' product.id %}" class="display-font" style="text-decoration: none; color: #000;">
                    <h2 class="mb-2 display-font heading-sm">{{ product.title }}</h2>
                    <h3 class="body-font text-center">By {{ product.user }}</h3>
                    <p class="body-small my-2 text-muted">{{ product.medium }}</p>
                </a>
                <div class="card-footer bg-white pt-0 border-0 text-left" href="{% url 'product_detail' product.id %}" class="display-font" style="text-decoration: none; color: #000;">
                    <div class="row">
                        <div class="col">
                            <h6 class="p-price text-main body-sm mb-0 text-left fw-bold ms-2 my-2">
                            ${{ product.price }}
                            </h6>
                            {% if product.category %}
                            <p class="body-small body-font mt-1 mb-0">
                                <a class="text-muted" href="{% url 'shop' %}?category={{ product.category.title }}">
                                    <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                </a>
                            </p>
                            {% endif %}
                            {% if request.user == product.user %}
                            <div class="row">
                                <div class="col-12 text-center">
                                    <small class="ml-3">
                                        <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                    </small>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
        {% if forloop.counter|divisibleby:1 %}
                    <div class="col-12 d-sm-none mb-5">
                        <hr>
                    </div>
                {% endif %}                        
                {% if forloop.counter|divisibleby:2 %}
                    <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                        <hr>
                    </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                    <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                        <hr>
                    </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                    <div class="col-12 d-none d-xl-block mb-5">
                        <hr>
                    </div>
                {% endif %}
        {% endfor %}
    </div>
</div>
<!--./end-shop-container-->
<div class="btt-wrapper">
    <!--start-back-to-top-button-->
    <div class="btt-button rounded-0">
            <a class="btn btt-link d-flex h-100">
                <i class="fas fa-chevron-up text-purple fa-2x text-end mx-auto my-auto"></i>
            </a>    
    </div>
</div>
<!--end-back-to-top-button-->
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'shop/includes/qty-script.html' %}

    <script type="text/javascript">
        $('.btt-link').click(function(e) {
            window.scrollTo(0,0)
        })
    </script>

     <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>

{% endblock %}